// colors
$primary-color: #83CF86;
$secondary-color: #FFB257;
$warning-color: #FF4A4A;
$primary-text-color: #575757;
$secondary-text-color: #A4A4A4;
$light-text-color: #B1B1B1;
$primary-background-color: #F5F5F5;
$secondary-background-color: #E7E7E7;
$third-background-color: #999999;
$white-color: #FFF;

// fonts
$primary-font: "FuturaBookC";
$heading-font: "FuturaDemiC";
